<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIAB-oA | Dashboard</title>

    <link href="vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">

    <script src="vendor/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/dashboard.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <%- include('./components/sidebar') %>

        <div class="col-md-9 col-lg-10 p-4">
            <%- include('./components/app_home') %>
            <%- include('./components/app_maps') %>
            <%- include('./components/app_kiwix') %>
            <%- include('./components/app_books') %>
        </div>
    </div>
</div>
<%- include('./components/footer') %>
</body>
</html>
